%div{:style => "width: 1022px; margin-left: auto; margin-right: auto; padding-top: 100px; text-align: center"}
  #all2
    #main
      #mainBoxTop
    #body2
      %br
      %h1{:style => "color: White"} Teachers Page
      %br
      %div{:style => "width: 900px; margin-left: auto; margin-right: auto; font-weight: normal; color: #CCC; font-size: 18px; text-align: left;"}Welcome to Mathmoo! We are here to give teachers a helping hand when they need it. Here at Mathmoo we know how hard it can be to get students to understand new concepts and remain interested. Mathmoo was created to provide teachers with the resources that reinforce classroom material. The content on our site isn’t designed just to be educational; It also gets students excited about math and learning! We provide lessons that easy to understand and games that stimulate critical thinking and requrire students to utilize the underlying principals taught in class.  All of our content is kid friendly and safe because we are just as concened about your students online safety as you. If you are curious about the adds on our site, the reason they are there is so that we can pay for the site and continue sharing our new new math games and lessons with you and your students. If you are curious about what different types of educational content can be found on our site we have math lessons for all ages and grade levels from elementary through high school levels and our games cover many topics and categories including shapes, colors, finance, building, physics, 
